/* DashBoard CSS */

/* ** Hey User ** */
.section-heyuser {
  width: 111px;
  height: 29px;
  margin-top: 25px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #31235c;
}
.section-2ndline {
  margin-top: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #31235c;
  margin-bottom: 30px;
}

.section-back-color {
  background: #d6f0ff;
  border-radius: 30px;
  padding: 30px;
}

/* Dashboard */

.section-heading {
  width: 210px;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 50px;
  color: #31235c;
  margin-bottom: 15px;
}

.section-block {
  margin-top: 20px;
  height: 84px;
  width: 235px;
  background: #31235c;
  box-shadow: 4px 4px 10px rgba(18, 7, 51, 0.25);
  border-radius: 20px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 10px;
  color: #ffffff;
}

.section-block-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 50px;
  line-height: 17px;
  color: #ffffff;
}

.section-block-number {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.section-block-icon {
  margin-top: 6px;
  margin-left: 5px;
  height: 36.89px;
  width: 36.89px;
}

.section-back-card1 {
  width: 600px;
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 14px 40px rgba(44, 12, 115, 0.15);
  border-radius: 20px;
  padding: 30px;
}

.section-back-card2 {
  margin-top: 30px;
  width: 330px;
  background: #ffffff;
  box-shadow: 0px 14px 40px rgba(44, 12, 115, 0.15);
  border-radius: 20px;
  padding: 30px;
}
.section-back-card2 img {
  padding-top: 15px;
}
.section-back-card12-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;  
  color: #31235c;
}

.section-back-card1-subheading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #31235c;
}
.section-back-card1-subheading img {
  height: 22px;
  width: 22px;
}

.section-card1-button {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  text-decoration: none;
  padding: 7px 15px;
  background: #31235c;
  border-radius: 8px;
  line-height: 30px;
}
.section-card1-button:hover {
  color: #fff;
  text-decoration: none;
}

.profile-update-head{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #31235C;
}

/* ********* SIDEBAR ********** */

.sidebar {
  width: 230px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  margin-left: 60px;
  margin-bottom: 60px;
}

.profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.icons {
  margin-top: 50px;
  text-align: center;
  margin: 7px;
}
.icons .selected {
  color: #f4f1fd;
}
.icons .selected .icon {
  color: #000;
}
.icons span {
  /* box-shadow: 0px 4px 20px rgba(49, 35, 92, 0.75); */
  background: #f4f1fd;
  border-radius: 15px;
  font-size: 35px;
}
.icons span .icon {
  height: 30px;
  width: 45px;
  padding-bottom: 8px;
}
.icons span .icon-head {
  width: 70px;
  height: 17px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #31235c;
}
.icon-div {
  width: 200px;
}
.icons .selected {
  background: #31235c;
  box-shadow: 0px 4px 20px rgba(49, 35, 92, 0.75);
}
.icons .selected .icon {
  color: #f4f1fd;
}

.cloud-section {
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 20px;
}

.cloud-section-btn {
  margin-left: 15px;
  padding: 10px 15px;
  background: #ffc145;
  font-size: 14x;
  border-radius: 13.617px;
}

/* ****** My Orders ******** */
.order-container {
  background: #ffffff;
  box-shadow: 0px 14px 40px rgba(44, 12, 115, 0.15);
  border-radius: 20px;
  padding: 25px;
}
.order-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #31235c;
}
.order-details-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.order-details-row span {
  padding: 10px;
}
.order-details-row #order-id {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  padding: 15px 2px;
  background: #e7e0ff;
  color: #31235c;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.order-details-row #order-date {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #9894a7;
  padding: 20px;
}
.order-details-view {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.order-format-col {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.order-format-col span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #31235c;
  padding: 5px;
}
.order-format-col .order-format-btn {
  padding: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #31235c;
  border: none;
  background: #fff;
}
.order-format-col .order-format-btn-outline {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #31235c;
  background: #fff;
  padding: 15px 10px;
  border-radius: 18px;
}

/***** DashBorad search Bar *****/
.searchInputs{
  display: flex;
}

.search input    {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon{
  height: 60px;
  width: 50px;
  background-color: transparent;
  display: grid;
  place-items: center;
}

input:focus{
  outline: none;
}

.searchIcon svg{
  font-size: 35px;
}

.dataResult{
  margin-top: 5px;
  width: 300px;
  height: 50px;
  background-color: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar{
  display: none;
}
.dataResult .dataItem {
  width: 100px;
  height: 50px;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a{
  text-decoration: none;
}
a:hover{
  background-color: lightgrey;
}

#clearBtn{
  cursor: pointer;
}