.card{
    margin-left: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 1px 1px 28px -10px #665f5f;
}

h1{
    font-size: 28.16px;
    height: 56.32px;
    width: 56.32px;
    border-width: 1px;
    align-self: center;
    border-radius: 50%;
    text-align: center;
    background-color: #ecefef;
}
h1:hover
{
    border-style: solid;
    border-color: blue;
}

.nameColor{
    font:bolder;
    font-size: medium;
    color: #4d39e9;
}

.subTopicHighlight{
    height: 90px;
    width: 100%;
    background-color: #4d39e9;
    color: #ecefef;
}
