/* ************ NAVBAR ************* */

.img-navbar-logo {
  height: 60px;
  width: 140px;
}

.navbar-custom {
  font-size: 16px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: fixed;
  background-color: #fff;
}

.nav-item-custom {
  height: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2e2455;
}

.sign-in-option {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2e2455;
  text-decoration: none;
  padding: 0 10px;
}

.register-option {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #eb7854;
  text-decoration: none;
  padding: 0 10px;
}

/* **********LANDING PAGE ************* */

.heading-landing {
  width: 663px;
  height: 234px;
  margin-top: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 96px;
  line-height: 117px;
  text-align: center;
  font-feature-settings: "case" on;
  color: #2e2455;
}

.text-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #2e2455;
}
.button-landing-left {
  background: linear-gradient(360deg, #7a4ae1 -9.52%, #a076fa 100%);
  box-shadow: 0px 8px 16px rgba(130, 83, 230, 0.5);
  border-radius: 50px;
  padding: 15px 30px;
  margin-right: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.button-landing-right {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration-line: underline;
  color: #2e2455;
}

.button-landing-left:hover {
  color: #fff;
}
.button-landing-right:hover {
  color: #2e2455;
}

hr.landing {
  height: 5px;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid #c8c8c8;
}
.img-logo-landing {
  height: 50px;
  max-width: 130px;
}

/* **********OUR SERVICES************ */

.ourBenefits-outter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: #31235c;
  color: #fff;
  border-radius: 55px;
  text-align: center;
  margin-bottom: 150px;
}

.title-left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;
  width: 200px;
  line-height: 40px;
  letter-spacing: 1.5px;
  text-align: left;
}

.card-col {
  width: 190px;
  margin-top: 0;
  height: 200px;
}

.card-col span {
  font-size: 22px;
}
.card-image {
  height: 120px;
  width: 130px;
  border-radius: 30px;
  background-color: #fff;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.card-col img {
  height: 75px;
  width: 75px;
  background-color: #fff;
}

.card-col a {
  font-size: 16px;
  text-decoration: none;
}
.column-card {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-card-hover {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.column-card-hover:hover {
  background: linear-gradient(180deg, #6d35e1 0%, #8d66e1 100%);
  box-shadow: 0px 2px 3px rgba(18, 192, 231, 0.76);
}

/* *************OUR PROCESS *************** */

.process-container {
  overflow-x: hidden;
  height: 600px;
  margin-bottom: 250px;
  overflow-y: hidden;
  right: 1000;
}
#rectangle {
  margin-top: 180px;
}
.right {
  width: 100%;
  height: 100%;
}
.right > img {
  position: absolute;
  margin-top: 25%;
  left: 51%;
}
#number1 {
  position: absolute;
  margin-top: -199px;
  left: 670px;
}
#number2 {
  position: absolute;
  margin-top: -199px;
  left: 1010px;
}
#number3 {
  position: absolute;
  margin-top: 180px;
  left: 670px;
}
#number4 {
  position: absolute;
  margin-top: 180px;
  left: 1010px;
}
#sub-num1 {
  position: absolute;
  margin-top: 20px;
  left: 880px;
}
#sub-num2 {
  position: absolute;
  margin-top: 32px;
  left: 896px;
}
#sub-num3 {
  position: absolute;
  margin-top: 81px;
  left: 932px;
}
#sub-num4 {
  position: absolute;
  margin-top: 200px;
  left: 900px;
}
#sub-num5 {
  position: absolute;
  margin-top: 270px;
  left: 900px;
}
#sub-num6 {
  position: absolute;
  margin-top: 108px;
  left: 960px;
}
#sub-num7 {
  position: absolute;
  margin-top: 20px;
  left: 1225px;
}
#sub-num8 {
  position: absolute;
  margin-top: 33px;
  left: 1240px;
}
#sub-num9 {
  position: absolute;
  margin-top: 90px;
  left: 1285px;
}
#sub-num10 {
  position: absolute;
  margin-top: 200px;
  left: 1240px;
}
#sub-num11 {
  position: absolute;
  margin-top: 268px;
  left: 1240px;
}
#sub-num12 {
  position: absolute;
  margin-top: 400px;
  left: 880px;
}
#sub-num13 {
  position: absolute;
  margin-top: 411px;
  left: 896px;
}
#sub-num14 {
  position: absolute;
  margin-top: 450px;
  left: 940px;
}
#sub-num15 {
  position: absolute;
  margin-top: 477px;
  left: 970px;
}
#sub-num16 {
  position: absolute;
  margin-top: 570px;
  left: 900px;
}
#sub-num17 {
  position: absolute;
  margin-top: 650px;
  left: 900px;
}
#sub-num18 {
  position: absolute;
  margin-top: 399px;
  left: 1220px;
}
#sub-num19 {
  position: absolute;
  margin-top: 411px;
  left: 1235px;
}
#sub-num20 {
  position: absolute;
  margin-top: 440px;
  left: 1265px;
}
#sub-num21 {
  position: absolute;
  margin-top: 570px;
  left: 1240px;
}
#sub-num22 {
  position: absolute;
  margin-top: 649px;
  left: 1240px;
}
#sub-num23 {
  position: absolute;
  margin-top: 490px;
  left: 1300px;
}
#sub-num24 {
  position: absolute;
  margin-top: 465px;
  left: 1335px;
}

/*css for left part*/

#left-sub6 {
  position: absolute;
  margin-top: 470px;
  left: 250px;
}
#left-sub7 {
  position: absolute;
  margin-top: 479px;
  left: 260px;
}
#heading {
  margin: 2rem;
  padding: 4px;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #adad85;
  margin-top: 150px;
  left: 80px;
}
#sub-heading {
  margin: 2rem;
  padding: 4px;
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #6600cc;
  margin-top: 200px;
  left: 80px;
}
#content {
  margin: 2rem;
  padding: 4px;
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #adad85;
  margin-top: 340px;
  left: 80px;
}
#btn {
  margin: 2rem;
  padding: 4px;
  font-size: 1rem;
  position: absolute;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 2rem;
  margin-top: 430px;
  left: 80px;
  background: linear-gradient(360deg, #7a4ae1 -9.52%, #a076fa 100%);
  box-shadow: 0px 8px 16px rgba(130, 83, 230, 0.5);
  border-radius: 50px;
}
#btn > p {
  color: white;
  position: absolute;
  font-size: 1.2rem;
  margin-top: -8px;
  left: 29px;
}

/* **********THE MENTORSHIP*************** */
.section4-subheading {
  width: 92px;
  height: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #898989;
}

.section4-heading {
  width: 610px;
  height: 108px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  font-feature-settings: "case" on;
  color: #2e2455;
}

.section4-desc {
  width: 638.87px;
  height: 52px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #898989;
}

.img-section4{
  height: 450px;
  width: 450px;
  margin-left: 50px;
}
.col-sec4{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **********THE MENTOR CALL*************** */

/* ***** Video Call / Mentors ***** */
.section6 {
  margin-bottom: 90px;
  margin-top: 150px;
}

.section6-image {
  margin-left: -20px;
  width: 970px;
  height: 570px;
  background: url(../Assests/Mentors.png) no-repeat;
  border-radius: 30px;
}

.col-mentor-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6-right-sub1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #898989;
}

.section6-right-sub2 {
  height: 108px;
  width: 545px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  font-feature-settings: "case" on;
  color: #2e2455;
}

.section6-right-sub3 {
  width: 549px;
  height: 52px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #898989;
}

/* ********** SUCCESS STORIES ************ */

.section7 {
  margin-bottom: 70px;
}

.section7-subHead {
  width: 152px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #898989;
}

.section7-text-left {
  margin-left: 90px;
}

.section7-heading {
  width: 495px;
  height: 162px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  font-feature-settings: "case" on;
  color: #2e2455;
}

.sec-per {
  color: #eb7854;
}
.section7-desc {
  width: 549px;
  height: 52px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #898989;
}
.slider-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
.carousel-slider div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(103.69deg, #e6efee 3.76%, #e2e9df 93.56%);
  border-radius: 20px;
}
.carousel-slider div img {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 4px;
  height: 100%;
  width: 100%;
}

/* Comment this is good */