/* ************ NAVBAR ************* */

.img-navbar-logo {
  height: 60px;
  width: 140px;
}

.navbar-custom {
  font-size: 16px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  position: fixed;
  background-color: #fff;
}

.nav-item-custom {
  height: 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2e2455;
}

.sign-in-option {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2e2455;
  text-decoration: none;
  padding: 0 10px;
}

.register-option {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #eb7854;
  text-decoration: none;
  padding: 0 10px;
}

/* **********LANDING PAGE ************* */
/* .box {
  position: absolute;
  margin-top: 9vh;
  top: 27%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.box-right {
  position: absolute;
  margin-top: 9vh;
  top: 27%;
  right: 10%;
  transform: translate(-50%, -50%);
}
button {
  padding: 10px 20px;
  margin-left: 50px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: auto;
  transition: all 03s ease 0s;
}
button:hover {
  background-color: #5e17ea;
  border-radius: 50px;
} */

.heading-landing {
  width: 663px;
  height: 234px;
  margin-top: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 96px;
  line-height: 117px;
  text-align: center;
  font-feature-settings: "case" on;
  color: #2e2455;
}

.text-heading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #2e2455;
}
.button-landing-left {
  background: linear-gradient(360deg, #7a4ae1 -9.52%, #a076fa 100%);
  box-shadow: 0px 8px 16px rgba(130, 83, 230, 0.5);
  border-radius: 50px;
  padding: 15px 30px;
  margin-right: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.button-landing-right {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration-line: underline;
  color: #2e2455;
}

.button-landing-left:hover {
  color: #fff;
}
.button-landing-right:hover {
  color: #2e2455;
}

hr.landing {
  height: 5px;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  border: 2px solid #c8c8c8;
}
.img-logo-landing {
  height: 50px;
  max-width: 130px;
}

/* **********OUR SERVICES************ */

.ourBenefits-outter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: #31235C;;
  color: #fff;
  border-radius: 55px;
  text-align: center;
  margin-bottom: 70px;
}

.title-left {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-weight: 600;
  width: 200px;
  line-height: 40px;
  letter-spacing: 1.5px;
  text-align: left;
}

.card-col {
  width: 190px;
  top: 0;
  height: 200px;
}

.card-col span {
  font-size: 22px;
}
.card-image {
  height: 120px;
  width: 130px;
  border-radius: 30px;
  background-color: #fff;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.card-col img {
  height: 75px;
  width: 75px;
  background-color: #fff;
}

.card-col a {
  font-size: 16px;
  text-decoration: none;
}
.column-card {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-card-hover {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.column-card-hover:hover {
  background: linear-gradient(180deg, #6d35e1 0%, #8d66e1 100%);
  box-shadow: 0px 2px 3px rgba(18, 192, 231, 0.76);
}
